.pokemon {
    display: flex;
    justify-content: space-around;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.col1 {
    display: flex;
    flex-direction: column;
}

.col2 {
    display: flex;
    flex-direction: column;
}

.col3 {
    display: flex;
    flex-direction: column;
}

h2{
    margin: auto;
}

.typesTitle {
    margin: auto;
}

.charList {
    margin: auto;
}

.container{
    border: 1px solid;
    border-radius: 10px;
    background-color: rgba(182, 179, 179, 0.527);
    margin-top: 30px;
    width: 50%;
    text-align: center;
    height: 370px;
}

.botonHome {
    background-color: blanchedalmond;
    margin-bottom: 15px;
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid gray;
    font-size: 20px;
    width: 80%;
}

.imgPokemon {
    width: 150px;
    height: 150px;
}

.botonHome:hover {
    background-color: white;
    border: 2px solid gray;
    cursor: pointer;
}