.ciudad {
    display: flex;
    justify-content: space-around;
}

.container{
    border: 1px solid;
    border-radius: 10px;
    background-color: rgba(182, 179, 179, 0.527);
    margin-top: 30px;
    width: 50%;
}

.botonHome {
    background-color: blanchedalmond;
    margin-bottom: 15px;
    font-weight: bold;
    border-radius: 5px;
    border: 2px solid gray;
    font-size: 20px;
    width: 80%;
}

.botonHome:hover {
    background-color: white;
    border: 2px solid gray;
    cursor: pointer;
}