.divPokeBoard {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.loadPokemons{
    height: 200px;
    width: 250PX;
    margin-top: 100px;
    border-radius: 20px;
    /* font-size: 150px;
    font-weight: bold;
    color: white;
    width: 100%;
    text-align: center; */
}

.cardsArea {
    margin-top: 10px;
    width: 80%;
    border: 2px solid yellow;
    border-radius: 10px;
    background-color: rgba(0, 0, 172, 0.431);
    padding-bottom: 20px;
}

@media (max-width: 700px) {
    .cardsArea {
       margin-top: 8px;
    }
}