.pageContainer {
    display: flex;
    justify-content:space-around;
    height: 32px;
}

label {
    color: white;
}

.pagination {
    display: flex;
    flex-direction: row;
}

.pagination-btn {
    display: flex;
}

.pages {
    display: flex;
    color: white;
}